body, html {
  overflow-x: hidden;
  @include font-base;
}

button, input {
  &:focus {
    outline: none;
  }
}

h2 {
  font-size: 30px;
  font-family: 'P22UndergroundCYProMedium', sans-serif;
  line-height: 1;
  text-align: center;
  margin-bottom: 92px;
  @include make-col-ready;
  @include media-breakpoint-up(xs) {
    @include make-col(12)
  }
}

h3 {
  font-size: 20px;
  font-family: 'P22UndergroundCYProHeavy', sans-serif;
  line-height: 1;
  margin-bottom: 24px;
  color: $dark-blue;
}

/*--------------forms--------------*/

.verticalForm {
  @include make-col-ready;
  @include media-breakpoint-up(md) {
    @include make-col(4);
  }
  &__wrapper {
    background: $form-grey;
    padding: 40px;
    border-top: 5px $dark-blue solid;
  }
  &__paragraph {
    @include name-form();
    margin-bottom: 32px;
    margin-top: -1px;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__input {
    @include input();
    margin-bottom: 27px;
  }
  &__footnote {
    margin-top: -1px;
    margin-bottom: 1px;
    span {
      font-family: 'P22UndergroundCYProHeavy', sans-serif;
      font-size: 20px;
      color: $dark-blue;
    }
  }
  &__endnote {
    font-size: 12px;
    font-family: 'P22UndergroundCYProThin', sans-serif;
    color: $light-black;
  }
  &__btn {
    @include form-button();
    margin-top: 35px;
  }
}

.horizontalForm {
  text-align: left;
  margin-bottom: 93px;
  @include make-col-ready;
  &__wrapper {
    background: #fff;
    padding: 50px;
    padding-bottom: 32px;
  }
  &__paragraph {
    @include name-form();
    margin-bottom: 32px;
    margin-top: -1px;
  }
  &__form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__input {
    @include input();
    margin-right: 20px;
  }
  &__btn {
    @include form-button();
    width: 250px;
  }
}


/*----------top header------------*/

header {
  background: white;
  padding-top: 34px;
  padding-bottom: 34px;
}

.contactData {
  @include make-row();
  align-items: center;
  justify-content: space-between;
  margin: 0;

  &__logotype {
  }
  &__logo {

  }
  &__details {
    text-align: right;
  }
  &__place, &__date {
    img {
      margin-right: 10px;
    }
  }
  &__place {
    padding-right: 25px;
  }
  &__date {

  }
  &__tel {
    text-align: right;

    a {
      font-size: 25px;
      font-family: 'P22UndergroundCYProDemi', sans-serif;
      color: $light-black;
      &:first-child {
        padding-right: 25px;
      }
      span {
        color: $dark-blue;
      }
    }
  }
}

/*--------main screen------------*/

main {
  background: #fdfdfd url(../img/main-background.png) top 54.4% right 46.5% no-repeat;
  padding-top: 75px;
  padding-bottom: 75px;
}

.mainScreen {
  @include make-col-ready;
  @include media-breakpoint-up(md) {
    @include make-col(8);
  }
  &__subtitle {
    font-size: 25px;
    font-family: "P22UndergroundCYProThin", sans-serif;
    text-transform: uppercase;
    margin-left: -2px;
  }
  &__h1 {
    font-family: 'P22UndergroundCYProHeavy', sans-serif;
    font-size: 70px;
    color: $dark-blue;
    text-transform: uppercase;
    margin-bottom: 70px;
    margin-top: -2px;
    margin-left: -4px;
  }
  &__list {
    font-size: 17px;
    padding-left: 0;
    line-height: 34px;
    list-style: none;

    li {
      background: url(../img/check-mark.png) left center no-repeat;
      padding-left: 34px;
    }
  }
}

/*--------section — for whom------------*/

.sectionOne {
  padding-bottom: 57px;
}

.forWhom {
  @include make-row;

  &__col {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    @include make-col-ready;
    @include media-breakpoint-up(md) {
      @include make-col(4);
    }
    @include media-breakpoint-down(xs) {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
    }
    @include media-breakpoint-down(sm) {
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }
    @include media-breakpoint-down(lg) {
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }
  &__img {
    width: 80px;
    height: 80px;
    margin-right: 30px;
    @include media-breakpoint-down(xs) {
      margin-right: 0;
      margin-bottom: 30px;
      margin-top: -40px;
    }
    @include media-breakpoint-down(sm) {
      margin-right: 30px;
      margin-bottom: 0;
      margin-top: 0;
    }
    @include media-breakpoint-down(lg) {
      margin-right: 0;
      margin-bottom: 30px;
      margin-top: -40px;
    }
  }
  &__listing {
    margin-left: 1.1em;
    font-size: 15px;
    line-height: 17px;

    li {
      margin-bottom: 7px;
    }
  }
}

/*------------section of learn------------------*/

.sectionTwo {
  background: $dark-blue;
  text-align: center;
  color: $text-white;
  padding-top: 100px;
}

.learn {
  @include make-row;

  &__item {
    @include make-col-ready;
    @include media-breakpoint-up(md) {
      @include make-col(4);
    }
  }
  &__circle {
    font-size: 65px;
    font-family: 'P22UndergroundCYProHeavy', sans-serif;
    line-height: 1;
    margin-bottom: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__number{
    position: absolute;
    padding-top: 12px;
  }
  &__h3 {
    color: $text-white;
    margin-bottom: 32px;
  }
  &__paragraph {
    font-size: 15px;
    line-height: 17px;
    padding: 0 60px;
    margin-bottom: 50px;
  }
}

.horizontalForm {
  background: #fff;
  @include make-col-ready;
  @include media-breakpoint-up(xs) {
    @include make-col(12);
  }
}

