body, html {
  overflow-x: hidden;
  @include font-base;
}

button, input {
  &:focus {
    outline: none;
  }
}

h2 {
  font-size: 30px;
  font-family: 'P22UndergroundCYProMedium', sans-serif;
  line-height: 1;
  text-align: center;
  margin-top: 97px;
  margin-bottom: 92px;
  @include make-col-ready;
  @include media-breakpoint-up(xs) {
    @include make-col(12)
  }

  @include media-breakpoint-down(sm) {
    margin-top: 97px * 0.6;
  }
}

h3 {
  font-size: 20px;
  font-family: 'P22UndergroundCYProHeavy', sans-serif;
  line-height: 1;
  margin-bottom: 24px;
  color: $dark-blue;
}

sup {
  font-size: 65%;
}

/*--------------forms--------------*/

.verticalForm {
  @include make-col-ready;
  @include media-breakpoint-up(md) {
    @include make-col(6);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(4);
  }
  &__wrapper {
    background: $form-grey;
    padding: 40px;
    border-top: 5px $dark-blue solid;
  }
  &__paragraph {
    @include name-form();
    margin-bottom: 32px;
    margin-top: -1px;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__input {
    @include input();
    margin-bottom: 27px;
  }
  &__footnote {
    margin-top: -1px;
    margin-bottom: 1px;
    span {
      font-family: 'P22UndergroundCYProHeavy', sans-serif;
      font-size: 20px;
      color: $dark-blue;
    }
  }
  &__endnote {
    font-size: 12px;
    font-family: 'P22UndergroundCYProThin', sans-serif;
    color: $light-black;
  }
  &__btn {
    @include form-button();
    margin-top: 35px;
  }
}

.horizontalForm {
  text-align: left;
  @include make-col-ready;
  @include media-breakpoint-up(xs) {
    @include make-col(12)
  }
  &__wrapper {
    background: #fff;
    padding: 50px;
    padding-bottom: 32px;

    @include media-breakpoint-down(sm) {
      padding: 35px;
    }

    &-fon {
      background: #f8f8f8;
    }
  }
  &__paragraph {
    @include name-form();
    margin-bottom: 32px;
    margin-top: -1px;
  }
  &__form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: stretch;
    }
    @include media-breakpoint-down(lg) {
      flex-wrap: wrap;
    }
  }
  &__input {
    @include input();
    margin-right: 20px;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 15px;
    }
    @include media-breakpoint-down(md) {
      &:nth-child(2) {
        margin-right: 0;
      }
    }
    @include media-breakpoint-down(lg) {
      &-email {
        margin-right: 0;
      }
    }
  }
  &__btn {
    @include form-button();
    width: 250px;

    @include media-breakpoint-down(sm) {
      width: auto;
    }
    @include media-breakpoint-down(md) {
      flex-grow: inherit;
    }
    @include media-breakpoint-down(lg) {
      width: 48%;
      margin-top: 20px;
      flex-grow: 2;
    }
  }
}

/*----------carousel---------------*/

.carousel-control-prev-icon {
  left: 10px;
  background-position: left 10px center;
}

.carousel-control-next-icon {
  right: 10px;
  background-position: right 10px center;
}

.carousel-indicators {
  bottom: 0;
  li {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #999999;
    opacity: 0.25;
  }
  .active {
    opacity: 1;
    background-color: #999999;
  }
}

/*-----------owl--------------*/

.owl-prev, .owl-next {
  font-size: 40px;
  color: $text-grey;
  position: absolute;
  top: 130px;
  &:hover {
    color: #999999;
  }
}

.owl-prev {
left: 0;
}

.owl-next {
  right: 0;
}

/*----------top header------------*/

header {
  background: white;
  padding-top: 34px;
  padding-bottom: 34px;
}

.contactData {
  @include make-row();
  align-items: center;
  justify-content: space-between;
  margin: 0;
  @include media-breakpoint-down(xs) {
    justify-content: center;
    flex-direction: column;
  }
  @include media-breakpoint-down(md) {
    justify-content: space-around;
  }

  &__logotype {
  }
  &__logo {

  }
  &__details {
    text-align: right;
    @include media-breakpoint-down(xs) {
      text-align: center;
      margin-top: 20px;
    }
    @include media-breakpoint-down(lg) {
      text-align: left;
      flex-direction: column;
      display: flex;
      &:first-child {
        padding-bottom: 10px;
      }
    }
  }
  &__place, &__date {
    img {
      margin-right: 10px;
    }
  }
  &__place {
    padding-right: 25px;
    @include media-breakpoint-down(sm) {
        padding-bottom: 10px;
    }
  }
  &__date {

  }
  &__tel {
    text-align: right;
    @include media-breakpoint-down(xs) {
      text-align: center;
      flex-direction: column;
      display: flex;
    }
    @include media-breakpoint-down(md) {
      margin-top: 20px;
    }
    @include media-breakpoint-down(lg) {
      text-align: left;
      flex-direction: column;
      display: flex;
    }

    a {
      font-size: 25px;
      font-family: 'P22UndergroundCYProDemi', sans-serif;
      color: $light-black;
      @include media-breakpoint-down(xs) {
        font-size: 20px;
      }
      &:first-child {
        padding-right: 25px;
        @include media-breakpoint-down(xs) {
          padding-right: 0;
        }
      }
      span {
        color: $dark-blue;
      }
    }
  }
}

/*--------main screen------------*/

main {
  background: #fdfdfd url(../img/main-background.png) top 54.4% right 46.5% no-repeat;
  padding-top: 75px;
  padding-bottom: 75px;
  @include media-breakpoint-down(sm) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.mainScreen {
  @include make-col-ready;
  @include media-breakpoint-up(md) {
    @include make-col(6);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(8);
  }
  &__subtitle {
    font-size: 25px;
    font-family: "P22UndergroundCYProThin", sans-serif;
    text-transform: uppercase;
    margin-left: -2px;
    @include media-breakpoint-down(xs) {
      font-size: 25px * 0.7;
    }
    @include media-breakpoint-down(md) {
      font-size: 25px * 0.7;
    }
  }
  &__h1 {
    font-family: 'P22UndergroundCYProHeavy', sans-serif;
    font-size: 70px;
    color: $dark-blue;
    text-transform: uppercase;
    margin-bottom: 70px;
    margin-top: -2px;
    margin-left: -4px;
    @include media-breakpoint-down(xs) {
      font-size: 70px * 0.6;
      line-height: 1;
    }
    @include media-breakpoint-down(md) {
      font-size: 70px * 0.7;
      margin-bottom: 70px * 0.5;
    }
  }
  &__list {
    font-size: 17px;
    padding-left: 0;
    line-height: 34px;
    list-style: none;
    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }
    @include media-breakpoint-down(md) {
      font-size: 15px;
      line-height: 30px;
    }
    li {
      background: url(../img/icon/check-mark.png) left center no-repeat;
      padding-left: 34px;
    }
  }
}

/*--------section for whom------------*/

.sectionOne {
}

.forWhom {
  @include make-row;

  &__col {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    @include make-col-ready;
    @include media-breakpoint-up(md) {
      @include make-col(4);
    }
    @include media-breakpoint-down(xs) {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
    }
    @include media-breakpoint-down(sm) {
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }
    @include media-breakpoint-down(lg) {
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }
  &__img {
    width: 80px;
    height: 80px;
    margin-right: 30px;
    @include media-breakpoint-down(xs) {
      margin-right: 0;
      margin-bottom: 30px;
      margin-top: -40px;
    }
    @include media-breakpoint-down(sm) {
      margin-right: 30px;
      margin-bottom: 0;
      margin-top: 0;
    }
    @include media-breakpoint-down(lg) {
      margin-right: 0;
      margin-bottom: 30px;
      margin-top: -40px;
    }
  }
  &__listing {
    margin-left: 1.1em;
    @include text;
  }
}

/*------------section of learn------------------*/

.sectionTwo {
  background: $dark-blue;
  text-align: center;
  color: $text-white;
  padding-top: 100px;
  padding-bottom: 47px;
  margin-bottom: 100px;

  @include media-breakpoint-down(md) {
    padding-top: 100px * 0.8;
  }
}

.learn, .benefit {
  @include make-row();
  margin-bottom: 47px;

  &__h2 {
    margin-top: 0;
  }

  &__item {
    @include make-col-ready;
    @include media-breakpoint-up(md) {
      @include make-col(4);
    }
  }
  &__circle {
    font-size: 65px;
    font-family: 'P22UndergroundCYProHeavy', sans-serif;
    line-height: 1;
    margin-bottom: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__number {
    position: absolute;
    padding-top: 12px;
  }
  &__icon {
    &-people {
      @include dynamic-image(icon-people, $margin-bottom: 40px);
    }
    &-tool {
      @include dynamic-image(icon-tool, $margin-bottom: 40px);
    }
    &-gift {
      @include dynamic-image(icon-gift, $margin-bottom: 40px);
    }
  }

  &__h3 {
    color: $text-white;
    margin-bottom: 32px;
  }
  &__paragraph {
    font-size: 15px;
    line-height: 17px;
    margin-bottom: 50px;
    @include media-breakpoint-down(sm) {
      padding: 0 60px;
    }
    @include media-breakpoint-down(md) {
      padding: 0 30px;
    }
    @include media-breakpoint-up(lg) {
      padding: 0 60px;
    }
  }
}

.benefit {
  margin-bottom: 0;
}

/*---------------section speakers------------------*/

.sectionThree {
  margin-bottom: 184px;
}

.speakers {
  @include make-row;

  &__slider {
    margin-top: -19px;
    @include make-col-ready;
    @include media-breakpoint-up(md) {
      @include make-col(12);
    }
  }
  &__slide {
    padding: 0 100px;
    margin-bottom: 60px;
  }
  &__ava {
    width: 200px;
    height: 270px;
    margin-right: (50px / 980px) *100%;
    flex-grow: 1;
  }
  &__history {
    flex-grow: 3.9;
    padding-top: 19px;
    h3 {
      margin-bottom: 7px;
    }
    small {
      font-size: 15px;
    }
  }
  &__listing {
    margin-top: 31px;
    margin-left: 1.1em;
    @include text;
  }
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  position: absolute;
  background-color: #e5e5e5;
  width: 40px;
  height: 40px;
  background-size: 15px 17px;
  border-radius: 50%;
  margin-top: -7px;
  &:hover {
    background-color: #999999;
  }
}

/*---------section reviews--------------*/

.reviews {
  padding: 0 80px;
  margin-bottom: 97px;

  &__slider {
    margin-top: -19px;
  }
  &__slide {
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    margin-bottom: 50px;
  }
  &__comment {
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
  }
  &__video {
    width: 100%;
    margin-bottom: 30px;
  }
  &__text {
    h3 {
      margin-bottom: 7px;
    }
    small {
      font-size: 15px;
    }
  }
  &__review {
    margin-top: 27px;
    @include text;
  }
  .carousel-control-prev-icon, .carousel-control-next-icon {
    top: 115px;
  }
}

/*----------section place-------------*/

.sectionFifth {
  background-color: $dark-blue;
  display: flex;
  justify-content: center;
}

.place {
  max-width: 1366px;
  width: 100%;
  background: url("../img/hall-foto.jpg") no-repeat;
  background-size: auto 100%;
  background-position: center center;
  padding: ((180px / 1366px) * 100%) ((500px / 1366px) * 100%);
  @media (min-width: 1350px) {
    padding: 180px 500px;
  }
  &__container {
    background-color: $text-white;
    padding: 50px;
    text-align: left;
  }
  &__h2 {
    font-size: 30px;
    font-family: 'P22UndergroundCYProMedium', sans-serif;
    line-height: 1;
    margin-bottom: 43px;
    margin-left: -1px;
    margin-right: -2px;
  }
  &__item {
    margin-bottom: 14px;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      margin-right: 15px;
    }
  }
}

/*----------section map---------------*/

.sectionSixth {

}

/*----------section begin---------------*/

.sectionSeventh {
  background: #fdfdfd url(../img/puzzle.png) bottom 29% center no-repeat;
  padding-top: 75px;
  padding-bottom: 75px;
}

.begin {
  @include make-col-ready;
  @include media-breakpoint-up(md) {
    @include make-col(8);
  }
  &__h1 {
    font-family: 'P22UndergroundCYProHeavy', sans-serif;
    font-size: 50px;
    text-align: left;
    line-height: 1;
    color: $dark-blue;
    text-transform: uppercase;
    padding-top: 16px;
  }
}

/*------------footer-------------*/

footer {
  padding-top: 38px;
  padding-bottom: 38px;
}

.contactData {
  &__privacy {
    a {
      color: $text-grey;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.contactData__details-footer {
  .contactData {
    &__place {
      padding-right: 0;
    }
    &__date {
      padding-right: 25px;
    }
  }
}