@font-face {
  font-family: 'P22UndergroundCYProMedium';
  src: url('../fonts/P22UndergroundCYProMedium.eot');
  src: url('../fonts/P22UndergroundCYProMedium.eot') format('embedded-opentype'),
  url('../fonts/P22UndergroundCYProMedium.woff2') format('woff2'),
  url('../fonts/P22UndergroundCYProMedium.woff') format('woff'),
  url('../fonts/P22UndergroundCYProMedium.ttf') format('truetype'),
  url('../fonts/P22UndergroundCYProMedium.svg#P22UndergroundCYProMedium') format('svg');
}
@font-face {
  font-family: 'P22UndergroundCYProThin';
  src: url('../fonts/P22UndergroundCYProThin.eot');
  src: url('../fonts/P22UndergroundCYProThin.eot') format('embedded-opentype'),
  url('../fonts/P22UndergroundCYProThin.woff2') format('woff2'),
  url('../fonts/P22UndergroundCYProThin.woff') format('woff'),
  url('../fonts/P22UndergroundCYProThin.ttf') format('truetype'),
  url('../fonts/P22UndergroundCYProThin.svg#P22UndergroundCYProThin') format('svg');
}
@font-face {
  font-family: 'P22UndergroundCYProHeavy';
  src: url('../fonts/P22UndergroundCYProHeavy.eot');
  src: url('../fonts/P22UndergroundCYProHeavy.eot') format('embedded-opentype'),
  url('../fonts/P22UndergroundCYProHeavy.woff2') format('woff2'),
  url('../fonts/P22UndergroundCYProHeavy.woff') format('woff'),
  url('../fonts/P22UndergroundCYProHeavy.ttf') format('truetype'),
  url('../fonts/P22UndergroundCYProHeavy.svg#P22UndergroundCYProHeavy') format('svg');
}
@font-face {
  font-family: 'P22UndergroundCYProDemi';
  src: url('../fonts/P22UndergroundCYProDemi.eot');
  src: url('../fonts/P22UndergroundCYProDemi.eot') format('embedded-opentype'),
  url('../fonts/P22UndergroundCYProDemi.woff2') format('woff2'),
  url('../fonts/P22UndergroundCYProDemi.woff') format('woff'),
  url('../fonts/P22UndergroundCYProDemi.ttf') format('truetype'),
  url('../fonts/P22UndergroundCYProDemi.svg#P22UndergroundCYProDemi') format('svg');
}
@font-face {
  font-family: 'P22UndergroundCYProBook';
  src: url('../fonts/P22UndergroundCYProBook.eot');
  src: url('../fonts/P22UndergroundCYProBook.eot') format('embedded-opentype'),
  url('../fonts/P22UndergroundCYProBook.woff2') format('woff2'),
  url('../fonts/P22UndergroundCYProBook.woff') format('woff'),
  url('../fonts/P22UndergroundCYProBook.ttf') format('truetype'),
  url('../fonts/P22UndergroundCYProBook.svg#P22UndergroundCYProBook') format('svg');
}