@mixin font-base() {
  font-family: 'P22UndergroundCYProBook', sans-serif;
  color: $light-black;
  font-size: 14px;
}

@mixin input-icon($url) {
  background: $url left top 5% no-repeat;
}

@mixin dynamic-image($name-img, $positions: center center, $sizes: 100px, $margin-bottom: 0px) {
  width: $sizes;
  height: $sizes;
  margin: 0 auto $margin-bottom;
  background: url('../img/' + $name-img + '.png') $positions no-repeat;
  &:hover {
    background: url('../img/' + $name-img + '-hover.png') $positions no-repeat;
  }
}

@mixin name-form() {
  color: $light-black;
  font-family: 'P22UndergroundCYProMedium', sans-serif;
  font-size: 20px;
  line-height: 20px;
}

@mixin input() {
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px $light-black solid;
  font-size: 16px;
  line-height: 1;
  padding: 0;
  padding-bottom: 5px;
  padding-left: 20px;
  opacity: 0.25;
  flex-grow: 1;

  &:hover {
    opacity: 1;
    &::placeholder {
      color: $light-black;
      opacity: 0.25;
    }
  }
  &:focus {
    opacity: 1;
    &::placeholder {
      opacity: 0;
    }
  }
  &-name {
    @include input-icon(url("../img/input-name.png"));
  }
  &-phone {
    @include input-icon(url("../img/input-phone.png"));
  }
  &-email {
    @include input-icon(url("../img/input-email.png"));
  }
}

@mixin form-button() {
  background: $color-button;
  color: $text-white;
  box-shadow: 0 0 8px 0 rgba(0, 16, 27, 0.2);
  font-size: 16px;
  height: 70px;
  border-radius: 50px;
  &:focus {
    box-shadow: inset 0 0 15px 1px rgba(117, 104, 66, 0.48)
  }
}

@mixin text() {
  font-size: 15px;
  line-height: 17px;

  li {
    margin-bottom: 7px;
  }
}

